* {
  box-sizing: border-box;
}
main {
  padding: 5px 30px;
  max-width: 960px;
  height: 680px;
  margin: 20px auto;
  background-color: #222;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 10px;
  overflow: auto;
  
}
form.register,
form.login,
form.newTransaction {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button {
  width: 100%;
  display: block;
  background-color: #0053ff;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.register h1,
form.login h1,
form.newTransaction h1 {
  color: #fff;
  text-align: center;
}

form.register,
form.login,
form.newTransaction p {
  color: #0053ff;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1000;
  padding: 20px 0; 
}
header a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
}
header a:hover {
  border-bottom: 2px solid #0053ff;
  color: #0053ff;
  transition: 0.2s ease-in-out;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 15px;
}
div.transactionHome {
  color: #fff;
}
.transactionHome a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.transactionHome a:hover {
  border-bottom: 2px solid #0053ff;
  color: #0053ff;
  transition: 0.2s ease-in-out;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.container:hover{
  background-color: #0053ff;
  transition: 0.4s ease-in-out;
  
}
.right-side {
  text-align: right;
}
.reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.reward:hover{
  background-color: #0053ff;
  transition: 0.4s ease-in-out;
}
.reward-right{
  text-align: right;
}
.profile-flexbox{
  display: flex;
  align-items: center;
}
.profile-flexbox Image{
  margin-right: 10px;
}
.profile-flexbox h2{
  color: #fff;
}
.profile button {
  width: 50%;
  display: block;
  background-color: #0053ff;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
.active{
  border-bottom: 2px solid #226bfd;
  color: #0053ff;
}
.gold{
  color: #d4af37;
}
.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
}